node_modules
dist
*.log
.DS_Store
out/
.vite/
.pnpm-store/
.electron-packager/
coverage/
userData-test/
userdata-test/
userData-dev/
test-artifacts/
wiki-test/
wiki-dev/
logs/
tsconfig.test.json.tsbuildinfo
.DS_Store
.eslintcache
.pnpm-store/
cache/
